<!--
<div class="row">
  <div class="col-xs-12">
    <p class="lead">Itens do Pedido:</p>
  </div>

  <mt-order-items [items]="cartItems()"
        (increaseQty)="increaseQty($event)"
        (decreaseQty)="decreaseQty($event)"
        (remove)="remove($event)"></mt-order-items>

</div>

  <div class="col-sm-6 col-xs-12">
    <p class="lead">Frete e Total:</p>

    <mt-delivery-costs
      [delivery]="delivery"
      [itemsValue]="itemsValue()"></mt-delivery-costs>
  </div>-->
<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <p-panel header="Finalizar Venda">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Cliente *:
                </div>
                <div class="ui-grid-col-2">
                    <p-dropdown name="customizedselect" [options]="clientesSelectItem" [(ngModel)]="selectedCliente"
                                filter="filter" [autoWidth]="false">
                        <ng-template let-cliente pTemplate="item">
                            <div class="ui-helper-clearfix">
                                <span class="country-text">{{cliente.label}}</span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>


            <div class="ui-grid-row">
                <mt-order-items [items]="cartItems()"
                                (increaseQty)="increaseQty($event)"
                                (decreaseQty)="decreaseQty($event)"
                                (remove)="remove($event)"></mt-order-items>

            </div>

            <div class="ui-grid-col-2">
                Total:
                <mt-delivery-costs
                    [delivery]="delivery"
                    [itemsValue]="itemsValue()"></mt-delivery-costs>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-6">
                    <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                        <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
        </div>
    </p-panel>
</form>
<p-growl [value]="msgs"></p-growl>

