<!--<div class="box box-solid">
    <div class="box-header">
        <i class="fa fa-shopping-cart"></i>

        <h3 class="box-title">Carrinho</h3>
    </div>
    <div class="box-body">

        <div *ngIf="!items().length">
            <p class="text-center">
                Seu carrinho está vazio!
            </p>
        </div>
        <div class="table-responsive" *ngIf="items().length">
            <table class="table">
                <tbody>
                <tr *ngFor="let item of items()" [@row]="rowState">
                    <th>({{item.quantity}}x) {{item.produtoItem.nome}}</th>
                    <td class="text-right">{{item.value() | currency: 'BRL': true}}</td>
                    <td class="text-right">
                        <a (click)="removeItem(item)" class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
                    </td>
                </tr>
                <tr>
                    <th>Total:</th>
                    <td class="text-right">{{total() | currency: 'BRL': true}}</td>
                </tr>
                </tbody></table>
        </div>
    </div>
    <div class="box-footer" *ngIf="items().length">
        <div class="pull-right">
            <button (click)="clear()" type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Limpar</button>
            <a [routerLink]="['/pagamento']" class="btn btn-success"><i class="fa fa-credit-card"></i> Fechar Pedido</a>
        </div>
    </div>
</div>-->

<p-panel header="Carrinho">

    <div *ngIf="!items().length">
        <p class="text-center">
            Seu carrinho está vazio!
        </p>
    </div>

    <div *ngIf="items().length">
        <table class="table table_summary">
            <tbody>
            <tr *ngFor="let item of items()" [@row]="rowState">
                <th>({{item.quantity}}x) {{item.produtoItem.nome}}</th>
                <td class="text-right">{{item.value() | currency: 'BRL': true}}</td>
                <td class="text-right">
                    <a (click)="removeItem(item)" class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
                </td>
            </tr>
            <tr class="total">
                <td>Total:</td>
                <td class="text-right">{{total() | currency: 'BRL': true}}</td>
            </tr>
            <!--<tr class="total">
                <td>
                    Total cost
                </td>
                <td class="text-right">
                    $154
                </td>
            </tr>-->
            </tbody>
        </table>
    </div>
    <a [routerLink]="['/pagamento']" class="btn_full"><i class="fa fa-credit-card"></i> Fechar Pedido</a>
    <!--<a class="btn_full" href="confirmation_fixed_sidebar.html">Book now</a>-->
    <!--<a class="btn_full_outline" href="#"><i class="icon-right"></i> Continue shopping</a>-->
</p-panel>

