<div>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'appDoraApp.produto.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>

    <div *ngIf="produtos">
        <div *ngFor="let produto of produtos ;trackBy: trackId">
            <p-card title="{{produto.nome}}" subtitle="{{produto.categoriaDTO.nome}}" [style]="{width: '360px'}" styleClass="ui-card-shadow">
                <!--<p-header>
                    <img src="Card" src="assets/showcase/images/usercard.png">
                </p-header>-->
                <div>{{produto.preco}}</div>
                <p-footer>
                    <button pButton type="button" label="Adicionar" icon="fa fa-plus-circle"></button>
                </p-footer>
            </p-card>
        </div>
    </div>
</div>
