<div>
    <h2>
        <span jhiTranslate="appDoraApp.checkout.home.title">Checkouts</span>
        <button class="btn btn-primary float-right jh-create-entity create-checkout" [routerLink]="['../checkout/new']">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="appDoraApp.checkout.home.createLabel">
            Create new Checkout
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'appDoraApp.checkout.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="checkouts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="dataHora"><span jhiTranslate="appDoraApp.checkout.dataHora">Data Hora</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantidade"><span jhiTranslate="appDoraApp.checkout.quantidade">Quantidade</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clienteId"><span jhiTranslate="appDoraApp.checkout.cliente">Cliente</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="desconto"><span jhiTranslate="appDoraApp.checkout.desconto">Desconto</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let checkout of checkouts ;trackBy: trackId">
                <td>{{checkout.dataHora | date:'medium'}}</td>
                <td>{{checkout.quantidade}}</td>
                <td>
                    <div *ngIf="checkout.clienteId">
                        <a [routerLink]="['../cliente', checkout.clienteId  ]" >{{checkout.clienteDTO.name}}</a>
                    </div>
                </td>
                <td>{{checkout.desconto}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="submit"
                                [routerLink]="['../checkout', checkout.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>-->
                        <button type="submit"
                                [routerLink]="['/checkout',checkout.id,'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <!--<button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'checkout/'+ checkout.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="checkouts && checkouts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
