<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClienteLabel" jhiTranslate="appDoraApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cliente.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cliente.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appDoraApp.cliente.name" for="field_name">Nome</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   [(ngModel)]="cliente.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userManagement.email">Email</label>
            <input type="email" class="form-control" name="email" #emailInput="ngModel"
                   [(ngModel)]="cliente.email" minlength="5" required maxlength="100" email>

            <div *ngIf="emailInput.dirty && emailInput.invalid">
                <small class="form-text text-danger"
                       *ngIf="emailInput.errors.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>

                <small class="form-text text-danger"
                       *ngIf="emailInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                       translateValues="{max: 100}">
                    This field cannot be longer than 100 characters.
                </small>

                <small class="form-text text-danger"
                       *ngIf="emailInput.errors.minlength" jhiTranslate="entity.validation.minlength"
                       translateValues="{min: 5}">
                    This field is required to be at least 5 characters.
                </small>

                <small class="form-text text-danger"
                       *ngIf="emailInput.errors.email" jhiTranslate="global.messages.validate.email.invalid">
                    Your email is invalid.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appDoraApp.cliente.telefone" for="field_telefone">Telefone</label>
            <input type="text" class="form-control" name="telefone" id="field_telefone" [textMask]="{mask: maskPhone}"
                   [(ngModel)]="cliente.telefone" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appDoraApp.cliente.tag" for="field_tag">Tag</label>
            <select class="form-control" id="field_tag" name="tag" [(ngModel)]="cliente.tagId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tagOption.id" *ngFor="let tagOption of tags; trackBy: trackTagById">{{tagOption.nome}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
