<div class="row">
    <div class="col-sm-8">
        <form name="searchForm" class="form-inline" autocomplete="off">
            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" (keyup)="search(currentSearch)" id="currentSearch" name="currentSearch">
                <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                    <span class="fa fa-search"></span>
                </button>
                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                    <span class="fa fa-trash-o"></span>
                </button>
            </div>
        </form>
    </div>
</div>
</br>
</br>
<div class="row">
    <div class="col-md-8 col-xs-12">

        <jhi-carrinho-item
            *ngFor="let item of produtos" [produtoItem]="item" (add)="shoppingCart.addItem($event)" ></jhi-carrinho-item>

    </div>
    <div class="col-md-3 col-xs-12">
        <jhi-carrinho-frame #shoppingCart></jhi-carrinho-frame>
    </div>
</div>

