<div class="menu-item-info-box" [@menuItemAppeared]="menuItemState">
    <!--<span class="menu-item-info-box-icon">
      <img [src]="menuItem.imagePath"></span>-->
    <p-card title="{{menuItem.nome}}" subtitle="{{menuItem.categoriaDTO.nome}}" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <!--<p-header>
            <img src="Card" src="assets/showcase/images/usercard.png">
        </p-header>-->
        <div>{{menuItem.preco}}</div>
        <p-footer>
            <button (click)="emitAddEvent()" pButton type="button" label="Adicionar" icon="fa fa-plus-circle"></button>
        </p-footer>
    </p-card>
    <!-- /.info-box-content -->
</div>
